<div class="custom_container">
  <div class="title">
    <h3>Administrator Users</h3>
    <div class="add_btn" (click)="showAddModal = !showAddModal">
      <fa-icon [icon]="faPlus"></fa-icon> Add a new Administrator
    </div>
  </div>

  <app-formmodal
    *ngIf="showAddModal"
    modalTitle="Add a new Administrator"
    (handleCloseModal)="handleCloseModal()"
    [labels]="labels"
  >
    <form (ngSubmit)="handleFormSubmit()" [formGroup]="formGroup">
      <div class="input_modal" [ngClass]="showErrorBorder('name')">
        <div
          class="error_modal"
          *ngIf="
            formGroup.get('name')?.errors && formGroup.get('name')?.touched
          "
        >
          Name is required
        </div>
        <input formControlName="name" type="text" />
      </div>

      <div class="input_modal" [ngClass]="showErrorBorder('surname')">
        <div
          class="error_modal"
          *ngIf="
            formGroup.get('surname')?.errors &&
            formGroup.get('surname')?.touched
          "
        >
          Surname is required
        </div>
        <input formControlName="surname" type="text" />
      </div>

      <div class="input_modal" [ngClass]="showErrorBorder('email')">
        <div
          class="error_modal"
          *ngIf="
            formGroup.get('email')?.errors && formGroup.get('email')?.touched
          "
        >
          Email is required
        </div>
        <input formControlName="email" type="text" />
      </div>

      <div class="input_modal" [ngClass]="showErrorBorder('password')">
        <div
          class="error_modal"
          *ngIf="
            formGroup.get('password')?.errors &&
            formGroup.get('password')?.touched
          "
        >
          Password is required
        </div>
        <input formControlName="password" type="text" />
      </div>

      <input class="modal_btn_add" type="submit" value="Add Administrator" />
    </form>
  </app-formmodal>

  <div class="display">
    <table class="custom_table">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of admins">
          <td>{{ admin.email }}</td>
          <td>{{ admin.name }}</td>
          <td>{{ admin.surname }}</td>
          <td class="d-flex gap-2" (click)="handleDelete(admin.email)">
            <div class="btn-danger btn">Delete</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
