/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

* {
  font-family: "Cabin";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.display {
  margin-top: 20px;
  border: 2px solid rgb(224, 221, 221);
  border-radius: 10px;
  width: 80vw;

  .custom_table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    th,
    td {
      padding: 10px 20px;
      color: rgb(73, 72, 72);
    }

    thead tr {
      padding: 10px;
      background: rgb(233, 233, 233);
      width: 100%;
    }
  }
}
