<div class="custom_container">
  <div class="title">
    <h3>Available buses</h3>
    <div class="add_btn" (click)="showAddModal = !showAddModal">
      <fa-icon [icon]="faPlus"></fa-icon> Add a new Bus
    </div>
  </div>

  <app-formmodal
    *ngIf="showAddModal"
    modalTitle="Add a new Bus"
    (handleCloseModal)="handleCloseModal()"
    [labels]="labels"
  ></app-formmodal>

  <div *ngIf="false" class="form">
    <form (ngSubmit)="handleFormSubmit()">
      <div class="form-floating mb-3">
        <input
          type="origin"
          class="form-control"
          id="origin"
          name="origin"
          [(ngModel)]="origin"
          placeholder="EX: Madrid"
        />
        <label for="origin">Origin</label>
      </div>
      <div class="form-floating">
        <input
          type="text"
          name="destination"
          class="form-control"
          id="destination"
          [(ngModel)]="destination"
          placeholder="destination"
        />
        <label for="destination">Destination</label>
      </div>

      <div class="form-floating mt-3">
        <input
          class="form-control"
          placeholder="dd/mm/yyyy"
          id="date"
          name="date"
          [(ngModel)]="model"
          ngbDatepicker
          #d="ngbDatepicker"
        />
        <button
          class="btn btn-outline-secondary calendar date_picker"
          (click)="d.toggle()"
          type="button"
        ></button>
        <label for="date">Date</label>
      </div>

      <div class="form-floating mt-3">
        <input
          name="hour"
          [(ngModel)]="hour"
          type="text"
          class="form-control"
          id="hour"
          placeholder="hour"
        />
        <label for="hour">Hour</label>
      </div>

      <div class="form-floating mt-3">
        <input
          name="arrival_hour"
          type="text"
          class="form-control"
          id="arrival_hour"
          placeholder="arrival_hour"
          [(ngModel)]="arrival_hour"
        />
        <label for="arrival_hour">Arrival Hour</label>
      </div>

      <div class="form-floating mt-3">
        <input
          name="price"
          type="text"
          class="form-control"
          id="price"
          placeholder="price"
          [(ngModel)]="price"
        />
        <label for="price">Price</label>
      </div>

      <div class="form-floating mt-3">
        <input
          name="available_seats"
          type="text"
          class="form-control"
          id="available_seats"
          placeholder="available_seats"
          [(ngModel)]="available_seats"
        />
        <label for="available_seats">Total Seats</label>
      </div>

      <input class="btn btn-primary mt-3" type="submit" value="Add" />
    </form>
  </div>

  <div class="display">
    <table class="custom_table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Date</th>
          <th scope="col">Depart hour</th>
          <th scope="col">Arrival hour</th>
          <th scope="col">Price</th>
          <th scope="col">Available seats</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bus of buses">
          <td>{{ bus.id }}</td>
          <td>{{ bus.origin }}</td>
          <td>{{ bus.destination }}</td>
          <td>{{ bus.date }}</td>
          <td>{{ bus.hour }}</td>
          <td>{{ bus.arrivalHour }}</td>
          <td>{{ bus.price }}€</td>
          <td>{{ bus.availableSeats }}</td>
          <td class="d-flex gap-2" (click)="handleDelete(bus.id)">
            <div class="btn-danger btn">Delete</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
