<div class="custom_container">
  <div class="title">
    <h3>Available buses</h3>
    <div class="add_btn" (click)="showAddModal = !showAddModal">
      <fa-icon [icon]="faPlus"></fa-icon> Add a new Bus
    </div>
  </div>

  <app-formmodal
    *ngIf="showAddModal"
    modalTitle="Add a new Bus"
    (handleCloseModal)="handleCloseModal()"
    [labels]="labels"
  >
    <form (ngSubmit)="handleFormSubmit()" [formGroup]="formGroup">
      <div class="input_modal" [ngClass]="showErrorBorder('origin')">
        <div
          class="error_modal"
          *ngIf="
            formGroup.get('origin')?.errors && formGroup.get('origin')?.touched
          "
        >
          Origin is required
        </div>
        <input formControlName="origin" type="text" />
      </div>

      <div class="input_modal" [ngClass]="showErrorBorder('destination')">
        <div
          class="error_modal"
          *ngIf="
            formGroup.get('destination')?.errors &&
            formGroup.get('destination')?.touched
          "
        >
          Destination is required
        </div>
        <input type="text" formControlName="destination" />
      </div>

      <div class="input_modal" [ngClass]="showErrorBorder('date')">
        <div
          class="error_modal"
          *ngIf="formGroup.get('date')?.touched && formGroup.get('date')?.errors?.['ngbDate']"
        >
          Date does not match pattern, Ex: '12-06-2010'
        </div>
        <div
          class="error_modal"
          *ngIf="formGroup.get('date')?.touched && formGroup.get('date')?.errors?.['required']"
        >
          Date is required
        </div>

        <input
          type="text"
          formControlName="date"
          #date="ngbDatepicker"
          ngbDatepicker
        />

        <button
          class="btn btn-outline-secondary calendar_picker"
          (click)="date.toggle()"
          type="button"
        >
          <fa-icon [icon]="faCalendar"></fa-icon>
        </button>
      </div>

      <div class="input_modal" [ngClass]="showErrorBorder('hour')">
        <div
          class="error_modal"
          *ngIf="formGroup.get('hour')?.touched && formGroup.get('hour')?.errors?.['pattern']"
        >
          Hour does not match a valid pattern, Ex: '16:30'
        </div>
        <div
          class="error_modal"
          *ngIf="formGroup.get('hour')?.touched && formGroup.get('hour')?.errors?.['required']"
        >
          Hour is required
        </div>
        <input type="text" formControlName="hour" />
      </div>

      <div class="input_modal" [ngClass]="showErrorBorder('arrivalHour')">
        <div
          class="error_modal"
          *ngIf="formGroup.get('arrivalHour')?.touched && formGroup.get('arrivalHour')?.errors?.['pattern']"
        >
          Hour does not match a valid pattern, Ex: '16:30'
        </div>
        <div
          class="error_modal"
          *ngIf="formGroup.get('arrivalHour')?.touched && formGroup.get('arrivalHour')?.errors?.['required']"
        >
          Hour is required
        </div>
        <input type="text" formControlName="arrivalHour" />
      </div>

      <div class="input_modal" [ngClass]="showErrorBorder('price')">
        <div
          class="error_modal"
          *ngIf="formGroup.get('price')?.touched && formGroup.get('price')?.errors?.['pattern']"
        >
          Price does not match a valid pattern, Ex: '4.99'
        </div>
        <div
          class="error_modal"
          *ngIf="formGroup.get('price')?.touched && formGroup.get('price')?.errors?.['required']"
        >
          Price is required
        </div>
        <input type="text" formControlName="price" />
      </div>

      <div class="input_modal" [ngClass]="showErrorBorder('availableSeats')">
        <div
          class="error_modal"
          *ngIf="formGroup.get('availableSeats')?.touched && formGroup.get('availableSeats')?.errors?.['pattern']"
        >
          Available seats does not match a valid pattern, Ex: '45'
        </div>
        <div
          class="error_modal"
          *ngIf="formGroup.get('availableSeats')?.touched && formGroup.get('availableSeats')?.errors?.['required']"
        >
          Available seats is required
        </div>
        <input type="text" formControlName="availableSeats" />
      </div>

      <input
        [classList]="loading ? 'modal_btn_add loading' : 'modal_btn_add'"
        type="submit"
        [disabled]="loading"
        [value]="loading ? 'Adding bus...' : 'Add Bus'"
      />
    </form>
  </app-formmodal>

  <div class="display">
    <table class="custom_table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Origin</th>
          <th scope="col">Destination</th>
          <th scope="col">Date</th>
          <th scope="col">Depart hour</th>
          <th scope="col">Arrival hour</th>
          <th scope="col">Price</th>
          <th scope="col">Available seats</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="loadingtable" *ngIf="loadingBuses">
          <td colspan="9">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </td>
        </tr>
        <tr *ngFor="let bus of buses">
          <td>{{ bus.id }}</td>
          <td>{{ bus.origin }}</td>
          <td>{{ bus.destination }}</td>
          <td>{{ bus.date }}</td>
          <td>{{ bus.hour }}</td>
          <td>{{ bus.arrivalHour }}</td>
          <td>{{ bus.price }}€</td>
          <td>{{ bus.availableSeats }}</td>
          <td class="d-flex gap-2" (click)="handleDelete(bus.id)">
            <div
              [ngClass]="
                deleting && busIdDelete === bus.id
                  ? 'btn-danger btn loading-div'
                  : 'btn-danger btn'
              "
            >
              {{
                deleting && busIdDelete === bus.id ? "Deleting..." : "Delete"
              }}
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
