<div class="container">
  <h2>Bus administration panel</h2>
  <p>Here you can manage all your buses</p>

  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">origin</th>
        <th scope="col">destination</th>
        <th scope="col">date</th>
        <th scope="col">hour</th>
        <th scope="col">arrival_hour</th>
        <th scope="col">price</th>
        <th scope="col">available_seats</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Madrid</td>
        <td>Barcelona</td>
        <td>05-05-2022</td>
        <td>12:45</td>
        <td>19:45</td>
        <td>20.99</td>
        <td>38</td>
        <td class="d-flex gap-2">
          <div class="btn-danger btn">Delete</div>
          <div class="btn-primary btn">Edit</div>
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>Madrid</td>
        <td>Barcelona</td>
        <td>05-05-2022</td>
        <td>12:45</td>
        <td>19:45</td>
        <td>20.99</td>
        <td>38</td>
        <td class="d-flex gap-2">
          <div class="btn-danger btn">Delete</div>
          <div class="btn-primary btn">Edit</div>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>Madrid</td>
        <td>Barcelona</td>
        <td>05-05-2022</td>
        <td>12:45</td>
        <td>19:45</td>
        <td>20.99</td>
        <td>38</td>
        <td class="d-flex gap-2">
          <div class="btn-danger btn">Delete</div>
          <div class="btn-primary btn">Edit</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
