.options {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .icon {
    font-size: 23px;
  }
  .filter-icon {
    background: #596aca;
    padding: 7px;
    border-radius: 10px;
    color: white;
  }
}

.options p {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #596aca;
  font-weight: bold;
}

.available-bookings {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}
