.tab-button {
  color: rgb(59, 59, 59);
  padding: 12px;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}

.tab-selected ion-icon {
  background: #596aca;
  padding: 12px;
  border-radius: 50%;
  color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.529);
}
.tab-bar {
  padding: 10px 0px;
  border: none;
  background: white;
}
.disable-ripple {
  --ripple-color: transparent;
}
.disable-ripple:hover {
  background: unset !important;
}
